#login-wrap {
            background-color: rgb(231, 225, 225);
            width: 500px;
            height: 100%;
            margin: 0 auto;
            text-align: center;
            line-height: 25px;
            padding: 50px;
        }

        div.center { 
            margin: 0 auto;
            /* margin-top: 50px; */
            background-color: hotpink;
            border: 10px solid tan;
        }

        form {
            margin: 15px 0;
        }