/ArgsTest.class
/ConversionTest.class
/DataTypeTest.class
/OperationTest03.class
/OperationTest04.class
/OperationTest05.class
/OperationTest07.class
/OperationTest09.class
/OperationTest10.class
/OperationTest2.class
/OperatorTest01.class
/Practice1.class
/Practice2.class
/Practice3.class
/Practice4.class
/ScannerTest01.class
/StringCastTest.class
/VarChangeTest.class
