/UnitTest.class
/AirUnit.class
/GroundUnit.class
/Unit.class
/Tank.class
/SCV.class
/Repairable.class
/Marine.class
/Dropship.class
/Attackable.class
/Fightable.class
/Fighter.class
/Movable.class
/FighterTest.class
/Academy.class
/Barrack.class
/Building.class
/Bunker.class
/Factory.class
/MovableB.class
/MovableBuilding.class
/BuildingTest.class
/Liftable.class
/Liftableuilding.class
