h1{
    text-align: center;
}
h2{
    display: inline-block;
    text-align: center;
    width: 15%;
    margin: 0px 3px;
}
input[type="text"],input[type="password"]{
    width: 30%;
    height: 30px;
}
textarea{
    font-size: 16px;
    width: 100%;
    padding: 20px;
    border: none;
    background-color: rgba(255,255,255,0);
}
.button{
    text-align: right;
    padding: 0 5px;
}
.tail{
    text-align: right;
    padding: 0px 10px;
}
/* 쓰기 page */
.write{
    width: 100%;
}
.write>*{
    margin: 5px 0;
}
/* 삭제 page */
.del{
    text-align: center;
}
.delete{
    text-align: center;
    width: 100%;
}
.delete>*{
    margin: 20px;
}
/* 읽기 page */
.view>table td{
    text-align: left;
}

h1{
    text-align: center;
}
.view{
    width: 100%;
    margin-top: 20px;
}
table .contents{
    height: 500px;
}
.tail{
    height: 30px;
}
