h1{
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: skyblue;
}
.login{
    width: 50%;
    text-align: center;
}
.login>input{
    width: 70%;
    height: 40px;
    margin:10px;
}
.login>input:nth-of-type(2){
    margin-bottom: 30px;
}

.button{
    text-align: right;
}

