/ExceptionEx02.class
/ExceptionEx05.class
/ExceptionEx06.class
/ExceptionEx07.class
/ArgsException.class
/StringTest1.class
/StringTest2.class
/EnumTest.class
/SchoolType.class
/Student1.class
/AutoBoxingTest.class
/EqualsTest.class
/Student3.class
